@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

/* this is nav section */
.navber {
    width: 81.25%;
    margin: auto;
    padding-top: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    height: 2.9vw;
    gap: 1vw;
    cursor: pointer;
}

.logo img {
    height: 100%;
}

.logo h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.8vw;
    font-weight: 800;
}

.logo h1 span {
    color: #FF5400;
}

.list-item {
    width: 43%;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.list li {
    color: #424247;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    cursor: pointer;
}

.menu {
    display: none;
}

/* end of nav section */


/* banner section start */

.banner {
    width: 81.25%;
    margin: auto;
    margin-top: 3vw;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png') center/cover;
    background-repeat: no-repeat;
    border-radius: .9vw;
    color: #fff;
    text-align: center;
    padding: 5.5vw 12.8vw;
}

.inner-banner {
    width: 100%;

}

.inner-banner h1 {
    font-size: 3.33vw;
    font-weight: 800;
}

.inner-banner p {
    font-size: .9vw;
    font-weight: 400;
    line-height: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 2.4vw;
}

.banner-selection {
    width: 69%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1.3vw;
    padding: .9vw;
    border-radius: .5vw;
    background: rgba(255, 255, 255, 0.30);
}

.banner-selection div {
    width: 9vw;
    height: 2.7vw;
    border-radius: .4vw;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw .9vw;


}

.banner-selection div p {
    font-size: .9vw;
    font-weight: 400;
}

.banner-selection div:nth-child(4) {
    background-color: #FF5400;
}


.button button {
    outline: none;
    width: 100%;
    height: 100%;
    font-size: .9vw;
    font-weight: 400;
    color: #FFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

/* end of banner section */

/* popular ture section */

.pop-tour {
    width: 81.25%;
    margin: auto;
    margin-top: 7vw;
    display: flex;
    align-items: center;
    gap: 5%;
}

.pop-tour-text {
    width: 45%;
}

.pop-tour-text h1 {
    color: #131318;
    font-size: 2.2vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

.pop-tour-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4vw;
    margin-bottom: 2vw;
}

.pop-tour-text ul {
    padding-left: 1.5vw;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.pop-tour-text ul li {
    margin-top: .5vw;
}

.pop-img {
    width: 50%;
}

.pop-img img {
    width: 100%;
}

.btn {
    outline: none;
    border: none;
    border-radius: .4vw;
    background-color: #FF5400;
    font-size: 0.9vw;
    color: #fff;
    padding: 1vw 2vw;
}

/* popular tour section end  */

/* detination section start */
.destinations {
    width: 81.25%;
    margin: auto;
    margin-top: 5vw;
}

.destinations-description {
    text-align: center;
    width: 60%;
    margin: auto;
}

.destinations-description h3 {
    color: #131318;
    font-size: 2.2vw;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2vw;
}

.destinations-description p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4vw;
    /* 162.5% */
}



.places {
    width: 100%;
    display: grid;
}

.ultimate {
    position: relative;

}

.ultimate img {
    width: 100%;
}



.ultimate h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 2.7vw;
    font-weight: 800;
}

.se-1,
.se-2,
.se-3 {
    display: flex;
    gap: 1vw;
    margin-top: 2%;
    justify-content: space-between;
}

/* end of destinations section */


/* why chose us section */

.fesalitis {
    width: 81.25%;
    margin: auto;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
}

.fastext {
    width: 60%;
    margin-bottom: 4vw;
    text-align: center;
}

.fastext h3 {
    color: #131318;
    font-size: 3vw;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1vw;
}

.fastext p {
    color: #5A5A5D;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4vw;
}

.fas-1,
.fas-2 {
    width: 40%;
    border-radius: .9vw;
    border: .01vw solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2%;
}

.green {
    border: .01vw solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.fas-1 svg,
.fas-2 svg {
    width: 20%;
}

.fas-1 h3,
.fas-2 h3 {
    color: #131318;
    font-size: 1.3vw;
    font-weight: 800;
    line-height: normal;
    margin-top: 1vw;
}

.fas-1 p,
.fas-2 p {
    color: #5A5A5D;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
}

.fas-2 {
    margin-top: 3vw;
}

/* end of schose section */
/* my section */
.book{
    width: 81.25%;
    margin: auto;
    margin-top: 4vw;
    display: flex;
}
.leftimage{
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/left.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7vw;
    border-radius: 2vw;
}
.leftimage h1{
    font-size: 3.5vw;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2vw;
    color: #FFF;
   
}
.rightimage{
    width: 30%;

 
}
.rightimage img{
    width: 100%;
    border-radius: 50%;
    border: 1vw solid #FFF;
    position: relative;
    top: 20%;
    left: -50%;
}
/* my section end  */


/* deal section */
.Discounts {
    width: 81.25%;
    margin: auto;
    margin-top: 4vw;
}

.dis-des {
    width: 60%;
    text-align: center;
    margin: auto;
}

.dis-des h3 {
    color: #131318;
    font-size: 3vw;
    font-weight: 800;
    line-height: normal;
    margin-top: 1vw;
}

.dis-des p {
    color: #5A5A5D;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
}

.Deals {
    width: 100%;
    background: url('../images/deal-1.png') center/cover;
    padding: 5%;
    margin-top: 4vw;
    border-radius: 1vw;
}

.Deals-2 {
    width: 100%;
    background: url('../images/deal-2.png') center/cover;
    padding: 5%;
    margin-top: 4vw;
    border-radius: 1vw;
}

.deal-1 {
    width: 50%;
    border-radius: .9vw;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3vw;
    margin-left: 50%;

}

.deal-2 {
    width: 50%;
    border-radius: .9vw;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3vw;
}

.small-det {
    display: flex;
    justify-content: space-between;
}

.small-det p {
    color: #5A5A5D;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1vw;
}

.small-det p i {
    color: #FF5400;
    font-size: 1vw;
    margin-right: .5vw;
}

.deai-des h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.4vw;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1vw;
}

.price {
    color: #FF5400;
    font-size: 1vw;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1vw;
}

.deal-pera {
    color: #5A5A5D;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4vw;
}

.pack-all {
    text-align: center;
    margin-top: 3vw;
}

/* end of deal section  */

/* newalatter section */

.news {
    width: 81.25%;
    margin: auto;
    margin-top: 4vw;
    display: flex;
    gap: 2%;
}

.news-box {
    border: 0.2vw solid #FF5400;
    border-radius: 1vw;
    width: 40%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-box h3 {
    color: #131318;
    font-size: 2vw;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1vw;
}

.news-box P {
    color: #5A5A5D;
    font-size: 1vw;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1vw;
}

.news-box input {
    outline: none;
    margin-bottom: 1vw;
    padding: 1vw;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    border-radius: .5vw;


}

.news-img {
    width: 58%;
    position: relative;
    border-radius: 1vw;
}

.news-img img {
    width: 100%;
}

.news-dis {
    width: 30%;
    background-color: #FF5400;
    transform: rotate(-45deg);
    text-align: center;
    color: #fff;
    position: absolute;
    border-radius: 1vw;
    padding: 1vw;
    top: 65%;
    left: 70%;

}

.news-dis p {
    font-size: 1vw;
}

.news-dis h3 {
    font-size: 2vw;
}

/* end of nes section */

/* footer section started */

footer {
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.foot {
    width: 81.25%;
    margin: auto;
    margin-top: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 5.7vw 12vw;
}

.foot-text {
    color: #5A5A5D;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
    margin: 1vw 0vw 2vw 0vw;
}

.foot-icons {
    font-size: 2vw;
}

.foot-icons i {
    padding: 1vw;
}

.rights {
    width: 100%;
    border-top: .1vw solid rgba(19, 19, 24, 0.10);
    padding-top: 3vw;
}

/* end of the website */



@media screen and (max-width:600px) {

    /* this is nav section */
    .navber {
        width: 90%;
        padding-top: 7vw;
        padding-right: 2vw;
    }


    .logo {
        height: 7vw;
        gap: 3vw;
    }

    .logo img {
        height: 100%;
    }

    .logo h1 {
        font-size: 5vw;
    }

    .list-item {
        width: 43%;
        display: none;
    }


    .menu {
        display: block;
    }


    /* banner section start */

    .banner {
        width: 90%;
        margin-top: 5vw;
        border-radius: 4vw;
        padding: 6vw 4vw;
    }



    .inner-banner h1 {
        font-size: 5vw;
    }

    .inner-banner p {
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 4vw;
        margin-top: 4vw;
        margin-bottom: 2.4vw;
    }

    .banner-selection {
        width: 90%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        gap: 3vw;
        padding: 3vw;
        border-radius: 4vw;
        margin-top: 9vw;
    }

    .banner-selection div {
        width: 100%;
        height: 9vw;
        border-radius: 2vw;
        padding: 0vw 4vw;



    }

    .banner-selection div p {
        font-size: 4vw;
    }


    .button button {
        font-size: 3vw;

    }

    /* end of banner section */

    /* popular ture section */

    .pop-tour {
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 7vw;
        gap: 5%;
    }

    .pop-tour-text {
        width: 100%;
    }

    .pop-tour-text h1 {
        font-size: 5vw;
        margin-bottom: 7vw;
    }

    .pop-tour-text p {
        font-size: 3.5vw;
        line-height: 4vw;
        margin-bottom: 7vw;
    }

    .pop-tour-text ul {
        padding-left: 5vw;
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: 7vw;
    }

    .pop-tour-text ul li {
        margin-top: .5vw;
    }

    .pop-img {
        width: 100%;
    }


    .btn {
        font-size: 3.5vw;
        border-radius: 2vw;
        padding: 2vw 4vw;
        margin-bottom: 7vw;
    }

    /* popular tour section end  */


    /* detination section start */
    .destinations {
        width: 90%;
        margin-top: 7vw;
    }

    .destinations-description {

        width: 90%;

    }

    .destinations-description h3 {
        font-size: 6vw;
        margin-bottom: 7vw;
    }

    .destinations-description p {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    .places {
        margin-top: 7vw;
    }



    .ultimate h3 {
        font-size: 5vw;
    }

    .ultimate img {
        height: 30vh;
    }

    .se-1,
    .se-2,
    .se-3 {
        display: flex;
        gap: 3vw;
        margin-top: 2%;
        flex-direction: column;
    }


    /* end of destinations section */

    /* why chose us section */

    .fesalitis {
        width: 90%;
        margin-top: 7vw;
        display: flex;
        flex-direction: column;
        margin-top: 7vw;

    }

    .fastext {
        width: 100%;
    }

    .fastext h3 {
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .fastext p {
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 4vw;
        margin-bottom: 1vw;
    }

    .fas-1,
    .fas-2 {
        width: 100%;
        margin: 1vw;
    }

    .fas-1 svg,
    .fas-2 svg {
        width: 13%;
    }

    .fas-1 h3,
    .fas-2 h3 {
        color: #131318;
        font-size: 5vw;
        margin-top: 1vw;
    }

    .fas-1 p,
    .fas-2 p {
        color: #5A5A5D;
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 4vw;
        margin-top: 6vw;
    }

    /* end of schose section */
  /* my section */
.book{
    width: 90%;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
}
.leftimage{
    width: 100%;
    padding: 7vw;
    padding-bottom: 50vw;
    border-radius: 4vw;
}
.leftimage h1{
    font-size: 9vw;
    line-height: 12vw;
}
.rightimage{
    width: 70%;

 
}
.rightimage img{
    width: 100%;
    border-radius: 50%;
    border: 4vw solid #FFF;
    position: relative;
    bottom: 40vw;
    left: 25%;
    
}
/* my section end  */


    /* deal section */



    .Discounts {
        width: 90%;
        margin-top: -30vw;
    }

    .dis-des {
        width: 100%;
    }

    .dis-des h3 {
        font-size: 5vw;
        margin-top: 5vw;
    }

    .dis-des p {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    .Deals {
        width: 100%;
        background: url('../images/deal-1.png') center/cover;
        padding: 5%;
        margin-top: 7vw;
        border-radius: 4vw;
    }

    .Deals-2 {
        width: 100%;
        background: url('../images/deal-2.png') center/cover;
        padding: 5%;
        margin-top: 4vw;
        border-radius: 4vw;
    }

    .deal-1 {
        width: 100%;
        border-radius: 4vw;
        border: 1vw solid #FFF;
        margin-left: 0vw;
        margin-top: 50%;

    }

    .deal-2 {
        width: 100%;
        border-radius: 4vw;
        border: 1 solid #FFF;
        padding: 3vw;
        margin-top: 50%;
    }


    .small-det p {
        color: #5A5A5D;
        font-size: 3.5vw;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1vw;
    }

    .small-det p i {
        font-size: 3.5vw;
        margin-right: 1vw;

    }

    .deai-des h3 {
        font-size: 5vw;
        margin-bottom: 2vw;
    }

    .price {
        font-size: 4vw;
        margin-bottom: 2vw;
    }

    .deal-pera {
        font-size: 3.5vw;
        line-height: 4vw;
        margin-bottom: 2vw;
    }

    /* end of deal section  */

    /* newalatter section */

    .news {
        width: 90%;
        margin-top: 7vw;
        flex-direction: column;
    }

    .news-box {
        border-radius: 4vw;
        width: 100%;
        padding: 8%;
    }

    .news-box h3 {
        font-size: 5vw;
        margin-bottom: 3vw;
    }

    .news-box P {
        font-size: 3.5vw;
        margin-bottom: 3vw;
    }

    .news-box input {
        outline: none;
        margin-bottom: 3vw;
        padding: 4vw;
        border-radius: 2vw;


    }

    .news-img {
        width: 100%;
        position: relative;
        border-radius: 4vw;
        margin-top: 3vw;
    }

    .news-dis {
        border-radius: 3vw;
        padding: 3vw;
        top: 63%;
        left: 70%;
    }

    .news-dis p {
        font-size: 1.9vw;
    }

    .news-dis h3 {
        font-size: 4vw;
    }

    /* end of nes section */


    footer {
        width: 100%;
        background: rgba(19, 19, 24, 0.05);
    }

    .foot {
        width: 90%;
        margin: auto;
        margin-top: 7vw;
        padding: 5vw;
    }

    .foot-text {
        font-size: 3.5vw;

        line-height: 4vw;
        margin: 4vw 0vw ;
    }

    .foot-icons {
        font-size: 7vw;
    }

    .foot-icons i {
        padding: 5vw;
        
    }

    .rights {
        width: 100%;
        border-top: .1vw solid rgba(19, 19, 24, 0.10);
        padding-top: 3vw;
        font-size: 5vw;
    }

    /* end of the website */

}